@import url("second.css");
@import url("pagination.css");
.pagination{
    display: inline-block;
}
.T{
    margin-bottom: 2px;
}

.mainOut{
    background:url(../images/BG400.jpg) no-repeat bottom center;
}
