@import url("second.css");
@import url("pagination.css");
.pagination{
    display: inline-block;
    margin: 0 auto;
}
.T{
    margin-bottom: 2px;
}

.mainOut{
    background:url(../images/lib/libBG.jpg) no-repeat bottom center;
}
