@charset "utf-8";
@import url(detail.css);

.main1080 {
    background: url(../images/Bg1080.jpg) no-repeat bottom center;
}

.main800 {
    background: url(../images/Bg800.jpg) no-repeat bottom center;
}

.main600 {
    background: url(../images/BG600.jpg) no-repeat bottom center;
}
.main400 {
    background: url(../images/BG400.jpg) no-repeat bottom center;
}
.maincon h2{
    font-size: 25px;
}
.maincon p {
    text-indent: 2em;
    line-height: 30px;
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 10px;
}
/* 图片格式 */
.clothes1 {
    padding: 17px 0 5px 5px;
    width: 300px;
    height: auto;
    float: right;
}

.clothes2 {
    padding: 17px 0 5px 5px;
    width: 200px;
    height: auto;
    float: right;
}

/* 滚动 */
.mytop {
    position: fixed;
    top: 50px;
    left: 62.1%;
}

.T h2 a:hover{
    color: #dfb162;
}
