@charset "utf-8";
.ques{
    line-height: 24px;
    font-size: 14px;
}
.ques-ans-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 20px;
    
}

.singleOption {
    float: left;
    position: relative;
    line-height: 24px;
    padding: 5px 15px 5px 0;
}

.singleOption input[type="radio"] {
    width: 20px;
    height: 16px;
    opacity: 0;
}

.singleOption label.singleHide {
    position: absolute;
    left: 0px;
    top: 7px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #999;
}

.singleOption input[type="radio"]:checked+label.singleHide {
    background-color: rgb(240, 176, 86);
    border: 1px solid rgb(240, 176, 86);
}


.singleOption input[type="radio"]:checked+label.singleHide::after {
    position: absolute;
    content: "";
    width: 4px;
    height: 8px;
    top: 2px;
    left: 5px;
    border: 2px solid #fff;
    border-top: none;
    border-left: none;
    transform: rotate(45deg);
}

.quiz .multipleOption {
    position: relative;
    line-height: 24px;
    padding: 5px 15px 0 0;
}

.multipleOption input[type="checkbox"] {
    width: 20px;
    height: 16px;
    opacity: 0;
}

.multipleOption label.multipleHide {
    position: absolute;
    left: 0px;
    top: 7px;
    width: 16px;
    height: 16px;
    border: 1px solid #999;
}

.multipleOption input[type="checkbox"]:checked+label.multipleHide {
    background-color: rgb(240, 176, 86);
    border: 1px solid rgb(240, 176, 86);
}


.multipleOption input[type="checkbox"]:checked+label.multipleHide::after {
    position: absolute;
    content: "";
    width: 4px;
    height: 8px;
    top: 2px;
    left: 5px;
    border: 2px solid #fff;
    border-top: none;
    border-left: none;
    transform: rotate(45deg);
}
input[type="submit"]{
    background:rgb(240, 176, 86);
    border-radius: 5px;
    padding: 5px 10px;
    border: #fff 1px solid;
    margin: 5px 0;
}
input[type="submit"]:hover{
    background:rgb(250, 192, 110);
}

input[type="submit"]:active{
    background:rgb(228, 173, 95);
}


/*

.ques-ans-item{
    width: 40%;
    position: relative;
    height: 30px;
}
.ques-ans-item input[type='checkbox'] {
    width: 20px;
    height: 20px;
    opacity: 0;
}
.ques-ans-item label {
    position: absolute;
    left: 30px;
    top: 0;
    height: 20px;
    line-height: 20px;
}
.ques-ans-item label:before {
    content: '';
    position: absolute;
    left: -30px;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 50%;
    transition: all 0.3s ease;
}


.quiz{
    border-radius: 10px;
    box-sizing: border-box;
    margin-right: 3px;
}

.ques-ans-item label:after {
    content: '';
    position: absolute;
    left: -22px;
    top: 3px;
    width: 6px;
    height: 12px;
    border: 0;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background: #fff;
    transform: rotate(45deg);
    transition: all 0.3s ease;
    
}

.ques-ans-item input[type='checkbox']:checked + label:before {
    border: 1px solid  #4cd764;;
}
.ques-ans-item input[type='checkbox']:checked + label:after {
    background-color: rgb(240, 176, 86);
}
.ques-ans-item {
    position: relative;
    height: 35px;
}
.ques-ans-item > input {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height:20px;
    opacity: 0;
}
.ques-ans-item > label {
    position: absolute;
    left: 30px;
    line-height: 20px;
    top: 0px;
}
.ques-ans-item > label:before {
    content: '';
    position: absolute;
    left: -30px;
    top: 0px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #ddd;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}
.ques-ans-item > label:after {
    content: '';
    position: absolute;
    left: -30px;
    top: 0px;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-top: 6px;
    margin-left: 6px;
    transition: all 0.3s ease;
}
.ques-ans-item input[type='radio']:checked + label:before {
    border-color: #4cd764;
}
.ques-ans-item input[type='radio']:checked + label:after {
    background-color: rgb(240, 176, 86);
}
*/
.quiz input[type='submit']{
    display: block;
    padding: 5px 15px;
    font-size: 16px;
    margin: 0 auto;
}

.jiexi{
    display: none;
    color: orange;
    text-align: right;
    padding-right: 30px;
    cursor: pointer;
    position: relative;
    /* top: -20px; */
    z-index: 1;
}
.highlight{
    color: red;
    font-size: 20px;
}
#res{
    margin-top: 20px;
    text-align: center;
    color: #0088cc;
    line-height: 1.5;
    font-size: 14px;
}

.caidan-con{
    /* width: 500px; */
    padding: 25px;
}
.caidan-con h2{
    color: #d6a11a;
    text-align: center;
    margin-bottom: 20px;
}
.caidan-con h3{
    text-align: center;
    margin-bottom: 10px;
}
.caidan-con .shuoming{
    color: rgb(150, 148, 148);
    text-align: center;
}
.caidan-con .caidan-dati{
    margin: 20px auto;
    line-height: 26px;
    font-size: 16px;
}
.caidan-con .caidan-dati>div{
    text-align: center;
}
.caidan-con .caidan-dati input{
    font-size: 16px;
    display: inline-block;
    /* padding: 5px 0; */
    width:70px;
    border: none;
    margin: 0 5px;
    border-bottom: 1px solid black;
}
.caidan-con .caidan-dati input:focus{
    outline:none 
}
.caidan-con-con span{
    font-size: 16px;
    margin-top: 20px;
    display: block;
    text-align: center;
}
.caidan-con-con hr{
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    opacity: 0.6;
}
.caidan-con-bottom button{
    display: block;
    margin: 0 auto;
    padding: 5px 15px;
    border-color: white;
    background-color: #f8c543;
    border: none;
    font-size: 16px;
    color: rgb(53, 52, 52);
}
.quiz input[type="submit"]{
    background-color: #f8c543;
    color: rgb(51, 51, 51);
    border: none;
}
.caidan{
    display: none;
}