@import url("base.css");
@import url("introduction.css");

.leftcon {
    float: left;
    width: 730px;
    margin-right: 50px;
}

.leftcon .T {
    border-bottom: solid 4px #C18D46;
    margin-bottom: 15px;
}

.rightcon{
    float: right;
    width: 320px;
    height: 600px;
    background: #C18D46;
}


