@import url("base.css");
@import url("intro.css");

.leftcon {
    float: left;
    width: 730px;
    margin-right: 50px;
}

.leftcon .T {
    border-bottom: solid 4px #C18D46;
    margin-bottom: 15px;
}

.rightcon{
    float: right;
    width: 320px;
}

/* 越剧动态 */
.sfhd {
    float: left;
    width: 320px;
    overflow: hidden;
}

.sfhd .C .TT,
.sfhd .C .EE {
    width: 320px;
    height: 15px;
    overflow: hidden;
    background: url(../images/ConT.png) no-repeat;
}

.sfhd .C .EE {
    background: url(../images/ConE.png) no-repeat;
}

.sfhd .C .MM {
    width: 280px;
    padding: 10px 20px;
    overflow: hidden;
    background: url(../images/ConM.png) repeat-y;
}

.return a:hover{
    color: #C18D46;
}

