.bigleft {
    overflow: hidden;
    float: left;
    width: 680px;
    height: auto;
}

.left {
    overflow: hidden;
    float: left;
    width: 680px;
    height: auto;
    margin-bottom: 50px;
}

.left img {
    width: 400px;
    height: auto;
    display: block;
    margin: 0px auto;
}

.bigright {
    width: 370px;
    height: auto;
    overflow: hidden;
    float: right;
}

.right {
    width: 370px;
    height: auto;
    overflow: hidden;
    float: right;
    margin-bottom: 40px;
}

.right img {
    width: 250px;
    height: 300px;
    display: block;
    margin: 0px auto;
}

p {
    text-indent: 2em;
    line-height: 1.5;
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 6px;
}

/* main已经结束 */
/* 修改东西 */
.BK370 .MM{
    width: 310px;
    padding: 0 30px;
}