.bigleft {
    overflow: hidden;
    float: left;
    width: 340px;
    height: auto;
}

.left {
    overflow: hidden;
    float: left;
    width: 340px;
    height: auto;
    margin-bottom: 50px;
}

.left img {
    width: 280px;
    height: auto;
    display: block;
    margin: 0px auto;
}
a h2{
    font-size: 20px;
}
hr{
    margin:20px auto 20px;
    width:25%;
    border: #E6C284 1px  solid;

}
.Title{
    width: 100%;
    margin: 40px auto 40px;
}
h1{
    text-align: center;
    font-size: 30px;
}
p {
    text-indent: 2em;
    line-height: 1.5;
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 6px;
}
.MR
{
    margin-right: 40px;
}
/* main已经结束 */