@import url(detail.css);
@import url(pagination.css);


ul.vedioCard{
    display: inline-block;
}
ul.vedioCard li {
    display: inline-block;
    width: 240px;
    height: 165px;
    padding: 15px 0;
}

ul.vedioCard li a img {
    display: block;
    transition: .1s linear;
    width: 200px;
    height: 140px;
    border: solid 1px #FFF;
}

ul.vedioCard li a > div{
    width: 202px;
	height: 142px;
    border: solid 3px #D8B789;
}
ul.vedioCard li a{
    text-align: center;
    font-size: 15px;
    display: inline-block;
}
ul.vedioCard li a:hover {
    color: #C18D46;
}
ul.vedioCard li a:hover >div {
    border: solid 3px  #C18D46;
}
p.vtitle{
    padding-top: 5px;
}
.contentArea p{
    text-align: left;
    text-indent: 2em;
}
