@charset "utf-8";
@import url("detail.css");
.con{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.yjdt{
    padding: 15px;
    padding-left: 0;
}
.C{
    padding: 10px;
}
.contentArea{
    width: 710px;
	overflow: hidden;
    background-color: white;
}
.contentArea .title{
    width: 100%;
	text-align: center;
    line-height: 50px;
    font-size: 12px;
	font-size: 25px;
	font-weight: bold;
    color: #C18D46;
    /* font-family: "隶书"; */
    font-size: 30px;
}
.contentArea .info {
	width: 100%;
	text-align: center;
	line-height: 30px;
	color: #777;
    padding-bottom: 10px;
    font-size: 12px;
	border-bottom: dotted 1px #CCC;
}
.content{
    padding-left: 5px;
    padding-right: 5px;
}
.contentArea .content {

	font-size: 15px;
	line-height: 28px;
    color: #444;
    font-family: 'SourceHanSerifSC-Regular';
}
.content img{
    float:right;border: 1px solid #ccc; width:250px;
    margin-left: 10px;
    border:2px solid rgb(236, 145, 15);
    /* box-shadow: 0 0 5px #000; */
}
.otherinfo{
    margin-bottom: 10px;
    margin-top: 5px;
}
.otherinfo-item{
    display: flex;
    flex-wrap: nowrap;
    /* justify-content: center; */
    align-content: center;
    margin: 15px auto;
}
.otherinfo-item>div{
    line-height: 35px;
    height: 35px;
    margin: 0 10px;
}
.contentArea .content p{
    text-indent: 2em;
    line-height: 1.5;
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 6px;
}
.contentArea h2{
    /* border-left: 3px solid orange; */
    margin-bottom: 15px;
    margin-top: 30px;
    /* margin-left: -15px; */
    /* padding-left: 15px; */
    color: #C18D46;
}
.contentArea h3{
    border-bottom: #999 dotted 1px;
}

/* 越剧动态 */
.yjdt {
    float: left;
    width: 320px;
    height: 400px;
    overflow: hidden;
}
 .MM ul li a:hover {
    padding-left: 20px;
    background: url(../images/libg.png) no-repeat 4px 12px;
    color: #dfb162;
}

.MM ul li a {
    width: 245px;
    height: 30px;
    line-height: 30px;
    padding-left: 15px;
    background: url(/images/libg.png) no-repeat 2px 12px;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
}
.rightcon .T{
    padding-bottom: 0;
    margin-bottom: 2px;
}