@import url("base.css");
@import url("intro.css");
@import url("detail.css");

.contentArea{
    width: 710px;
	overflow: hidden;
	padding: 15px 10px 80px;
}
.contentArea .title{
    width: 100%;
	text-align: center;
    line-height: 50px;
    font-size: 12px;
	font-size: 25px;
	font-weight: bold;
	color: #C18D46;
}
.contentArea .info {
	width: 100%;
	text-align: center;
	line-height: 30px;
	color: #777;
    padding-bottom: 10px;
    font-size: 12px;
	border-bottom: dotted 1px #CCC;
}

.contentArea .content {
	padding-top: 20px;
	font-size: 15px;
	line-height: 28px;
    color: #444;
}


.contentArea .content{
    font-family: 'SourceHanSerifSC-Regular';
}
.contentArea .content p{
    text-indent: 2em;
    line-height: 1.5;
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 6px;
}
.contentArea h2{
    color: #C18D46;
    padding:10px 0;
}
.contentArea h3{
    border-bottom: #999 dotted 1px;
}

/* 越剧动态 */
.yjdt {
    float: left;
    width: 320px;
    height: 400px;
    overflow: hidden;
}

.yjdt .C .TT,
.yjdt .C .EE {
    width: 320px;
    height: 15px;
    overflow: hidden;
    background: url(../images/ConT.png) no-repeat;
}

.yjdt .C .EE {
    background: url(../images/ConE.png) no-repeat;
}

.yjdt .C .MM {
    width: 320px;
    height: 320px;
    overflow: hidden;
    background: url(../images/ConM.png) repeat-y;
}

.yjdt .C .MM ul {
    width: 280px;
    height: 300px;
    overflow: hidden;
    padding-left: 20px;
}

.yjdt .C .MM ul li {
    width: 250px;
    height: 130px;
    overflow: hidden;
    padding-left: 30px;
    padding-top: 13px;
    padding-bottom: 8px;
    background: url(../images/Con1.png) no-repeat 0px 19px;
}

.yjdt .C .MM ul li .title a {
    width: 250px;
    height: 52px;
    padding-left: 0px;
    overflow: hidden;
    line-height: 26px;
    font-size: 16px;
    font-weight: bold;
}

.yjdt .C .MM ul li .title a:hover {
    width: 250px;
    height: 52px;
    padding-left: 0px;
    color: #C18D46;
}

.yjdt .C .MM ul li .content {
    text-indent: 2em;
    width: 250px;
    height: 72px;
    overflow: hidden;
    line-height: 24px;
    font-size: 13px;
    color: #999;
}

.yjdt .C .MM .BorderB1 {
    border-bottom: solid 1px #E5E5E5;
    margin-bottom: 8px;
}
