@import url(detail.css);
@import url(pagination.css);

.C2{
    position: relative;
}

.yjzs .C ul.list li {
    /* float: left; */
    width: 730px;
    height: 35px;
    overflow: hidden;
    line-height: 35px;
    font-size: 15px;
    border-bottom: dotted 1px #CCC;
}

.yjzs .C ul.list li span {
    float: right;
    padding-right: 3px;
    font-size: 13px;
    color: #999;
    font-weight: normal;
}

.yjzs .C ul.list li a {
    width: 600px;
    height: 35px;
    padding-left: 30px;
    background: url(../images/libg.png) no-repeat 10px 14px;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
}

.yjzs .C ul.list li a:hover {
    padding-left: 33px;
    background: url(../images/libg.png) no-repeat 13px 14px;
    color: #C18D46;
}


/* detail page content for paragraph*/
.contentArea{
    width: 710px;
	overflow: hidden;
	padding: 15px 10px 80px;
}

.contentArea .content p{
    /* font-family: 'SourceHanSerifSC-Regular'; */

    text-indent: 2em;
    line-height: 1.5;
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 6px;
}
.contentArea .title{
    width: 100%;
	text-align: center;
    line-height: 50px;
    font-size: 12px;
	font-size: 25px;
	font-weight: bold;
	color: #C18D46;
}
.contentArea .info {
	width: 100%;
	text-align: center;
	line-height: 30px;
	color: #777;
    padding-bottom: 10px;
    font-size: 12px;
	border-bottom: dotted 1px #CCC;
}

.contentArea .content {
	padding-top: 20px;
	font-size: 15px;
	line-height: 28px;
    color: #444;
}


.sfhd .singleOption {
    float: left;
    position: relative;
    line-height: 24px;
    padding: 5px 15px 5px 0;
}
.sfhd h3{
    clear: both;
}

.singleOption input[type="radio"] {
    width: 20px;
    height: 16px;
    opacity: 0;
}

.singleOption label {
    position: absolute;
    left: 0px;
    top: 7px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #999;
}

.singleOption input[type="radio"]:checked+label {
    background-color: rgb(240, 176, 86);
    border: 1px solid rgb(240, 176, 86);
}


.singleOption input[type="radio"]:checked+label::after {
    position: absolute;
    content: "";
    width: 4px;
    height: 8px;
    top: 2px;
    left: 5px;
    border: 2px solid #fff;
    border-top: none;
    border-left: none;
    transform: rotate(45deg);
}





.sfhd .multipleOption {
    position: relative;
    line-height: 24px;
    padding: 5px 15px 0 0;
}

.multipleOption input[type="checkbox"] {
    width: 20px;
    height: 16px;
    opacity: 0;
}

.multipleOption label {
    position: absolute;
    left: 0px;
    top: 7px;
    width: 16px;
    height: 16px;
    border: 1px solid #999;
}

.multipleOption input[type="checkbox"]:checked+label {
    background-color: rgb(240, 176, 86);
    border: 1px solid rgb(240, 176, 86);
}


.multipleOption input[type="checkbox"]:checked+label::after {
    position: absolute;
    content: "";
    width: 4px;
    height: 8px;
    top: 2px;
    left: 5px;
    border: 2px solid #fff;
    border-top: none;
    border-left: none;
    transform: rotate(45deg);
}
input[type="submit"]{
    background:rgb(240, 176, 86);
    border-radius: 5px;
    padding: 5px 10px;
    border: #fff 1px solid;
    margin: 5px 0;
}
input[type="submit"]:hover{
    background:rgb(250, 192, 110);
}

input[type="submit"]:active{
    background:rgb(228, 173, 95);
}
