@charset "utf-8";
@import url(detail.css);
@import url(pagination.css);

.maincon .avat{
    margin-top: 10px;
    float: right;
    margin-left: 10px;
    border:2px solid rgb(236, 145, 15);
    width: 150px;
    height: 180px;

}
