@import url("base.css");
.main{
    padding-bottom: 40px!important;
}
/* 左侧框 */
.leftcon {
    float: left;
    width: 730px;
}

.rightcon{
    float: right;
    width: 320px;
}

.spsx{
    width: 100%;
}

.spsx-pics{
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.spsx-pics-con{
    margin: 10px auto;
    text-align: center;
}
.spsx-pics a,.spsx-pics img{
    transition: .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.spsx-pics a:hover{
    color: #dfb162;
    /* padding: 0 15px !important; */
    text-shadow:2px 2px 10px rgba(50, 50, 50, 0.3);
}
.spsx-pics a:active{
    color: #dfb162;
    padding: 0 15px !important;
    text-shadow:none;
}
.spsx-pics img{
    width: 200px;
    height: 125px;
    display: block;
    border-radius: 2px;
    margin-bottom: 10px;
    box-shadow:2px 3px 8px -5px #333333;
}

.spsx-pics a:hover img{
    box-shadow:2px 3px 8px -3px #333333;
}
.spsx-pics a:active img{
    transition: .1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    box-shadow:2px 3px 8px -7px #333333;
}
