@charset "utf-8";
@import "detail.css";
.content video {
    display: block;
    margin: 0 auto;
}
.hiddengroup{
    overflow: auto;
    height: 430px;
    border-bottom: 1px dotted rgb(63, 61, 61);
    /* padding: 20px 0; */
    border-top: 1px solid dotted rgb(63, 61, 61);
    margin-bottom: 30px;
}
.hiddengroup::-webkit-scrollbar { width: 0 !important }
.img-text-group img{
    width: 300px;
    height: 200px;
    margin-left: 30px;
}
.con-text h3 {
    border-bottom: 1px dotted rgb(63, 61, 61);
    padding-bottom: 10px;
}
.img-text-group{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.img-text-group p{
    align-self: center;
}
#vcomments {
    margin-bottom: 20px;
}

#vcomments * {
    font-size: 14px !important;
}
#vcomments input:focus,
#vcomments textarea:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    border-bottom: none !important;
}

.vcard {
    border-bottom: 1px #eee solid;
}

.vcontent img {
    max-height: 300px;
}
.return{
    margin-top: 20px;
}