@charset "utf-8";

.content video {
    display: block;
    margin: 0 auto;
}

.con-text {
    margin-top: 20px;
}
.con-text>img{
    
}
.con-text h3 {
    border-bottom: 1px dotted rgb(63, 61, 61);
    padding-bottom: 10px;
}

#vcomments {
    margin-bottom: 20px;
}

#vcomments * {
    font-size: 14px !important;
}

#vcomments input:focus,
#vcomments textarea:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    border-bottom: none !important;
}

.vcard {
    border-bottom: 1px #eee solid;
}

.vcontent img {
    max-height: 300px;
}